:root{
    --purple-200: #5913b453;

    --purple-300: #5A13B4;

    --purple-400: #3B1270;
}

header{
    margin: 2% 5%;
}

body{
    font-family: 'Montserrat';
    margin: 0;
}

a{
    text-decoration: none;
}

/*Início cabeçalho*/
.linha{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.gapCabecalho{
    gap: 2.5rem;
}

.corLink{
    color: var(--purple-300);
}

.inputBusca, .inputBusca:focus{
    outline: none;
    border: none;
    color: var(--purple-300);
}

.inputBusca::placeholder{
    color: var(--purple-300);
    opacity: 0.6;
}

.bordaBusca{
    border: 1px solid var(--purple-200);
    padding:  0.3rem 0.7rem;
}
/*Fim Cabeçalho*/

/*Início Título*/
.marginSite{
    margin: 8% 18%;
}

.corEscrita{
    color: var(--purple-400);
}

.tituloSite{
    font-size: 1.6rem;
    font-weight: 400;
}

.containerSubtitulo{
    display: flex;
    justify-content: center;
    gap: 60px;
    min-height: 260px;
}

.subtituloSite{
    font-size: 6rem;
    font-weight: 400;
    margin: 0;
}

.textoSite{
    max-width: 237px;
    align-self: flex-end;
}


/*Fim Título*/

/*Início Escolha seu Curso*/

.corFundo{
    background-color: var(--purple-400);
}

.containerCarreira{
    display: flex;
    gap: 30px;
}

.titulosEcolhaCarreira{
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
}

.containerGraduacao{
    display: flex;
    justify-content: space-around;
    min-width: 520px;
}

.corFundoGraduacao{
    background-color: rgba(255, 255, 255, 0.4);
    padding: 2.5%;
}

/*Fim Escolha seu Curso*/