:root{
    --purple-300: #5A13B4;
}

header{
    margin: 2% 5%;
}

body{
    font-family: 'Montserrat';
}

a{
    text-decoration: none;
}

.linha{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.gapCabecalho{
    gap: 2.5rem;
}

.corLink{
    color: var(--purple-300);
}